.list-container {
    margin-bottom: 20px;
  
    h2 {
      margin-bottom: 10px;
    }
  
    .veiculo-item {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
  
      strong {
        font-weight: bold;
      }
    }

  }
  